{% extends 'base.html' %}
{% load static %}

{% block content %}
    
<div class="wrapper">
    <div class="row">
        <div class="image-section">
            <img src="{% static 'images/about2.jpg' %}" alt="">
        </div>
        <div class="content">
            <h1>About Us</h1>
            <h2>Mahindra Thar</h2>
            <p>The Mahindra Thar is a rugged and iconic off-road vehicle produced by Mahindra & Mahindra, an Indian automotive manufacturer..<br> Here are some key features and aspects of the Mahindra Thar:

            </p>
        </div>
    </div>
</div>

<div class="wrapper1">
    <div class="row1">
        <div class="image-section1">
            <img src="{% static 'images/about5.jpg' %}" alt="">
        </div>
        <div class="content1">
            
            <h2>Mahindra Thar</h2>
            <p> The Mahindra Thar is a rugged and iconic off-road vehicle produced by Mahindra & Mahindra, an Indian automotive manufacturer..<br> Here are some key features and aspects of the Mahindra Thar:

            </p>
        </div>
    </div>
</div>

<div class="wrapper2">
    <div class="row2">
        <div class="image-section2">
            <img src="{% static 'images/about3.jpg' %}" alt="">
        </div>
        <div class="content2">
            
            <h2>Mahindra Thar</h2>
            <p> The Mahindra Thar is a rugged and iconic off-road vehicle produced by Mahindra & Mahindra, an Indian automotive manufacturer.<br> Here are some key features and aspects of the Mahindra Thar:
            </p>
        </div>
    </div>
</div>
 {% endblock %}