
{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="header">
       
      <h1>Services</h1>
     </div>
      <!-- <div class="navimg"><img  src="{% static 'images/body.jpg' %}" height="600px"width="1270px"alt='surya'></div> -->

     <div class="container-service">
        <div class="single-box">
            <div class="service">
                <img class="imgservic" src="{%static 'images/footerimages.jpg' %}" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at convallis ipsum. Vestibulum non sem varius, faucibus nisl at, tincidunt lectus. Curabitur ac odio nec nisl facilisis aliquet.</p>
                <a href="#">Learn more</a>
            </div>
        </div>
        <div class="single-box">
            <div class="service">
                <img class="imgservic" src="{%static 'images/service1.webp' %}" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at convallis ipsum. Vestibulum non sem varius, faucibus nisl at, tincidunt lectus. Curabitur ac odio nec nisl facilisis aliquet.</p>
                <a href="#">Learn more</a>
            </div>
        </div>
        <div class="single-box"> 
            <div class="service">
                <img class="imgservic" src="{%static 'images/service2.webp' %}" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at convallis ipsum. Vestibulum non sem varius, faucibus nisl at, tincidunt lectus. Curabitur ac odio nec nisl facilisis aliquet.</p>
                <a href="#">Learn more</a>
            </div>

        </div>
    </div>
    <div class="container-service">
        <div class="single-box"> 
            <div class="service">
                <img class="imgservic" src="{%static 'images/service3.webp' %}" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at convallis ipsum. Vestibulum non sem varius, faucibus nisl at, tincidunt lectus. Curabitur ac odio nec nisl facilisis aliquet.</p>
                <a href="#">Learn more</a>
            </div>

        </div>
        <div class="single-box"> 
            <div class="service">
                <img class="imgservic" src="{%static 'images/service4.webp' %}" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at convallis ipsum. Vestibulum non sem varius, faucibus nisl at, tincidunt lectus. Curabitur ac odio nec nisl facilisis aliquet.</p>
                <a href="#">Learn more</a>
            </div>

        </div>
        <div class="single-box"> 
            <div class="service">
                <img class="imgservic" src="{%static 'images/service5.webp' %}" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at convallis ipsum. Vestibulum non sem varius, faucibus nisl at, tincidunt lectus. Curabitur ac odio nec nisl facilisis aliquet.</p>
                <a href="#">Learn more</a>
            </div>

        </div>
    </div>

 {% endblock %}