{% extends 'home.html' %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% block content %}

<div class="bgimage"> </div>
    <div class="mycards">
        <div  class="display">
            <div class="card">
                <h2>Card Title</h2>
                <p>Some example text. Some example text. Some example text.</p>
                <button>Add</button>
            </div> 
            <div class="card">
                <h2>Card Title</h2>
                <p>Some example text. Some example text. Some example text.</p>
                <button>Add</button>
            </div> 
            <div class="card">
                <h2>Card Title</h2>
                <p>Some example text. Some example text. Some example text.</p>
                <button>Add</button>
            </div> 
        </div>
        
        
        <div  class="display">
            <div class="card">
                <h2>Card Title</h2>
                <p>Some example text. Some example text. Some example text.</p>
                <button>Add</button>
            </div> 
            <div class="card">
                <h2>Card Title</h2>
                <p>Some example text. Some example text. Some example text.</p>
                <button>Add</button>
            </div> 
            <div class="card">
                <h2>Card Title</h2>
                <p>Some example text. Some example text. Some example text.</p>
                <button>Add</button>
            </div> 
        </div>
    </div>

 



 {% endblock %}